*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: black; */
}


.container{
    position: block;
}

body {
    margin: 0 !important;
}

.navbar{
    background-color: rgb(102, 97, 97);
    padding: 10px 0;
    margin: 0px;
    position: absolute;
    top: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.nav-item{
    list-style: none;
    padding: 0px 20px;
}

.nav-link{
    text-decoration: none;
    font-size: large;
    color: #fff;

}

/* .background{
    background-image: url(/images/A5.jpg);
} */
.home-container {
    background-image: url(/images/A5.jpg);
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

/* .profile{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 70px;
} */

.second{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.info{
    color: #fff;
}

.pic{
   
    border-radius: 50%;
    width: 75%;
    height: 330px;
    padding-left: 20px;
}

.bio{
    display: flex;
    flex-direction:row;
}

.pic2{
    width: 504px;
    height: 539px;

}

.photo{
padding: 30px;
margin: 30px;
}

.me-info{
    justify-content: end;
    color: #fff;
    text-align: justify;
    width: 504px;
}

.bt{
   text-align: center; 
}
.button{
    background-color: #fc8a20;
    color: #fff;
    border-radius: 30px;
    border-color: #fc8a20;
    width: 200px;
    height: 40px;
    font-size: large;
    font-weight: bold;
}

.work{
    display: flex;
    flex-direction: row;
    color: #fff;
    text-align: center;
    background-color: rgb(18, 18, 18);
    justify-content: center;
}

.client{
    padding: 20px;
    margin: 20px;
}

.heading{
    background-color: black;
    color: white;
}


.cards{
    display: flex;
    background-color:black ;
}

.card1{
    width: 300px;
    height: 350px;
    /* border: solid 2px rgb(251, 52, 85); */
    border: 2px solid #fc8a20;
    margin: 30px;
    color: #fff;
    background-color:rgb(30, 30, 30)
    
}

.card1:hover{
    background-color: #fc8a20;
}